[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
flask = "*"
tiktoken = "*"
faiss-cpu = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
openai = "*"
pylint = "*"
flask-assets = "*"
transformers = "*"
textract = "*"

[dev-packages]

[requires]
python_version = "3.11"
