[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
tiktoken = "*"
faiss-cpu = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
openai = "*"
pylint = "*"
flask-assets = "*"
transformers = "*"
textract = "*"
flask = {version = "*", extras = ["async"]}
pymysql = "*"
cryptography = "*"
flask-migrate = "*"
flask-script = "*"
pypdf = "*"
chromadb = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
